div {
  position: relative;
  width: 210px;
  display: block;
  margin: auto;
}

img#octopus {
  position: relative;
  top: 80px;
}

#glasses {
  position: absolute;
  top: 180px;
  left: 40px;
  z-index: 1;
}

#hat {
  position: absolute;
  top: 10px;
  left: -20px;
  z-index: 2;
}
